<nav class="amber darken-2">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center">Code Chunks</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
            <i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h2 class="amber">Code Chunks</h2>
            </li>
            <li><a href="/chunks">Public Chunks</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Log out</a></li>
        </ul>
    </div>
</nav>