<h3>Create a Chunk</h3>
<div class="row">
    <form action="/chunks" method="post" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="language" name="language">
                <label for="title">Language</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
                <label for="status">Visibility</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Paste or type your Code Chunk:</h5>
                <textarea name="body" id="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn red">Cancel</a>
        </div>
    </form>
</div>