<h3>Edit your Chunk</h3>
<div class="row">
    <form action="/chunks/{{chunk._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{chunk.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        {{!-- <div class="row">
            <div class="input-field">
                <input type="text" id="language" name="language" value="{{chunk.language}}">
                <label for="title">Language</label>
            </div>
        </div> --}}

        <div class="row">
            <div class="input-field">
                <select name="language" id="language">
                    {{#select chunk.language}}
                    <option value="html" selected>html</option>
                    <option value="CSS">CSS</option>
                    <option value="Javascript">Javascript</option>
                    {{/select}}
                </select>
                <label for="language">Language</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    {{#select chunk.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
                <label for="status">Visibility</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Paste or type your Code Chunk:</h5>
                <textarea name="body" id="body">{{chunk.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn red">Cancel</a>
        </div>
    </form>
</div>